<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="DeviceName" value="\Device\NPF_{25EAE124-F896-4BBE-9CEA-091D560035C0}"/>
    <add key="Dash.Wellness.747548EC88EE" value="FedChuy"/>
    <add key="Dash.Huggies.A002DC116271" value="huggies"/>
    <add key="Dash.Gerber.00BB3A62A617" value="gerber"/>
  </appSettings>
</configuration>